
.pos-receipt .pos-receipt-access-key {
  text-align: left;
  font-size: 75%;
}

//.invoice_section {
//  padding-top: 10px;
//}

.client_section {
  text-align: left;
//  line-height: 20px;
//  font-size: 85%;
}

.datos_facturacion {
  line-height: 60px
}

tr.border_bottom td {
  border-bottom: 2px solid black;
}